/* header */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
	background-color: #1c1e21;
}

.header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow: hidden;
	background-color: #1c1e21f1;
	padding: 5px;
	border-bottom-style: solid;
	border-bottom-color: #666262bc;
	border-bottom-width: 1px;
}
.card {
	display: flex;
}
.headerLeft {
	font-size: 24px;
	color: #ddd;
}

.headerMiddle {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	font-size: 28px;
	color: #ddd;
}
.headerRight {
	display: flex;
	font-size: 28px;
	color: #ddd;
	align-items: center;
}
.logo {
	width: 41px;
	padding-top: 7px;
}
.profile {
	width: 41px;
	margin-bottom: -7px;
}
.headerRightSpacing {
	font-size: 25px;
	background: #333334;
	color: #ddd;
	padding: 7px 6px;
	margin-right: 10px;
	border-radius: 50%;
	text-align: center;
	width: 40px;
	height: 40px;
	border: 1px solid #333334;
	padding-right: 80px;
}
.headerRightSpacing:hover {
	background-color: rgba(215, 215, 215, 0.402);
}

.input-icons i {
	position: absolute;
}

.input-icons {
	display: flex;
	margin: 4px;
	color: w;
}

.icon {
	padding: 15px;
	color: #d4cdcd;
}

.input-field {
	font-size: 15px;
	background-color: #424245;
	margin: 4px;
	border-radius: 50px;
	padding: 10px 48px 10px 10px;
	text-align: center;
	border: none;
}
.tooltip {
	padding: 5px 50px;
	margin-right: 25px;
	border-radius: 8px;
	width: 114px;
	/* height: 43px; */
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
}
.tooltip:hover {
	border: 1px solid rgba(215, 215, 215, 0.402);
	background-color: rgba(215, 215, 215, 0.402);
}
.tooltip:active {
	color: blue;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 100px;
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
	font-size: 15px;
	text-align: center;
	border-radius: 6px;

	/* Position the tooltip */
	z-index: 10;
	position: absolute;
	top: 100%;
	right: 30%;
	/* z-index: 997; */
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.headerRightSpacing {
	padding-right: 10px;
	position: relative;
	display: inline-block;
}

.headerRightSpacing .tooltiptext {
	visibility: hidden;
	width: 100px;
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
	font-size: 15px;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 10;
}

.headerRightSpacing:hover .tooltiptext {
	visibility: visible;
}
.headerMiddleLogo {
	font-size: 30px;
	cursor: pointer;
}

/* Main Page  */

.row:after {
	content: '';
	display: table;
	clear: both;
}
.row {
	display: flex;
}
.colRightSide {
	float: left;
	width: 21%;
	padding: 10px;
	height: 300px;
}
.RightsideSponsoredBar {
	border-bottom-style: solid;
	border-bottom-color: #666262bc;
	border-bottom-width: 1px;
}
.textSponsored {
	color: white;
	font-weight: 100;
}
.frndReqBox {
	display: flex;
	width: 60%;
	padding: 10px;
	height: 240px;
}
.frndReqPfp {
	height: 50px;
	width: 50px;
}
.button {
	background-color: #424245;
	border: none;
	color: white;
	padding: 12px 22px;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.button:active {
	background-color: blue;
}
.innerFrndReqBox {
	display: flex;
}
.contactPfp {
	height: 30px;
	width: 30px;
}
.test2 {
	display: flex;
	padding-right: 20px;
}
.test3 {
	display: flex;
	padding: 15px;
}
.frndreqButton {
	display: flex;
	flex-direction: column;
	padding-left: 5%;
	font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
	color: white;
	font-size: 15px;
}
.reqButtonline {
	display: flex;
}
.colLeftSide {
	display: flex;
	flex-direction: column;
	width: 31%;
	padding: 5px;
	overflow: hidden;
}
.colLeftSide :hover {
	overflow-y: scroll;
	height: auto;
}
.pfpLeftSide {
	height: 30px;
	width: 30px;
}
.nameLeftSide {
	display: flex;
	padding-left: 5%;
	font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
	color: white;
	font-size: 15px;
}
.colMid {
	display: flex;
	width: 60%;
	padding: 10px;
	height: 240px;
}
.statusBar {
	border-radius: 7%;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
	background-color: #fff;
	width: 120px;
	min-height: 20px;
	margin: 5px;
	/* padding: 1px; */
}
.statusBarImg {
	height: 100%;
	width: 100%;
	border-radius: 7%;
	object-fit: cover;
	border: none;
}
.banner {
	/* position: absolute; */
	/* display: flex; */
	width: 121px;
	/* height: 156px; */
	border-radius: 7%;
	object-fit: cover;
	/* margin-top: 154px; */
}
.createStory {
	font-size: 50px;
	display: flex;
}
.container {
	position: relative;
	border-radius: 7%;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
	background-color: #fff;
	width: 120px;
	min-height: 20px;
	margin: 5px;
}

.center {
	position: absolute;
	top: 70%;
	left: 10px;
	width: 100px;
	text-align: center;
	font-size: 15px;
	color: white;
}
.centerLogo {
	position: absolute;
	top: 57%;
	left: 43px;
	width: 30px;
	text-align: center;
	font-size: 25px;
	color: rgb(35, 96, 228);
	border-radius: 50%;
}
.ion {
	color: aqua;
	display: flex;
	font-size: 30px;
	padding-top: 120px;
	padding-right: 500px;
}
.logo1 {
	position: absolute;
	display: flex;
	width: 40px;
	height: 40px;
	margin: 10px;
	border: 2px solid rgb(67, 67, 234);
	border-radius: 50%;
}

.storyBar {
	/* flex-direction: row; */
	box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
	background-color: #fff;
	width: 120px;
	min-height: 20vh;
	margin: 5px;
	padding: 15px;
}

/* Background Color full page */
.bgColor {
	background-color: #1c1e21;
	height: 100%;
}
.test {
	display: flex;
	padding: 10px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
/* .test :hover {
	background-color: #d4cdcd;
	padding: 5px 50px;
	margin-right: 25px;
	border-radius: 8px;
} */
.circleLogoBanner {
	top: 10%;
}
.textColor {
	color: white;
	font-family: sans-serif;
	font-weight: 600;
}
.lisence {
	color: white;
	font-size: 10px;
}
.dropbtn {
	background-color: #1c1e21;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
	background-color: #1c1e21;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #1c1e21;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}
